$avon-pink: rgb(240, 103, 152);
$avon-pink-op: rgba(240, 103, 152, .6);
$avon-black: #242424;
$avon-grey: #575757;
 
h1, h2, h3, h4, h5, h6{ font-family: Helvetica; font-weight: 900;}
.upper{text-transform: uppercase;}
.center{text-align: center;}
.title-pink{color: $avon-pink;}
.title-white{color: #FFF;}
.title-black{color: $avon-black;}
.title-grey{color: $avon-grey;}
.background-grey{background-color: #f6f6f6;}
.background-pink{background-color:$avon-pink;}

body,
.home {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}
 
 .container{margin-top: 1px;}

li {
    list-style: none;
}

.router-link,
a {
    
    text-decoration: none !important;
    &:hover{
        text-decoration: none !important;
    }
}

.img-fluid2 {
    max-width: 300px;
    width: 100%;
}

.menu {
    position: absolute;
    z-index: 10;
    height: 90px;
    width: 100vw;
    .menuContainer {
        position: relative;
        height: 100%;
        .logoMenu {
            position: absolute;
            top: 50%;
            left: 50px;
            transform: translateY(-50%);
            z-index: 1;
            height: 40px;
        }
        .menuList {
            position: relative;
            height: 100%;
            display: inline-block;
            width: 100%;
            text-align: right;
            padding: 19px 0;
            .menuItem {
                text-decoration: none;
                list-style:none;
                display:inline-block;
                .router-link,
                a {
                    max-height: 52px;
                    display: inline-block;
                    border-radius: 25px;
                    max-width: 160px;
                    width: 100%;
                    margin: 0 10px;
                    background-color: #fff;
                    border: 2px solid #fff;
                    text-align: center;
                    font-size: 16px;
                    line-height: 1.35;
                    padding: 5px 0;
                    color :#f06798;
                    &:hover {
                        border: 2px solid #fff;
                        background-color: #f06798;
                        color: #fff;
                    }
                }
            }
            .login {
              width: 190px;
              height: 200px;
              position: relative;
              padding: 15px;
              top: -10px;
              a{
                padding:15px;
              }
            }
        }
    }
}

#logo-avon {
  background-image: url(../img/avon.png); 
}


#avon-elipse{
    background-color:rgb(240, 103, 152);
    border-radius: 50% / 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: absolute;
    left: 0;
    top: 0;
    max-height: 570px;
    height: 100%;
    width: 100%;
    transform: scale(1);
}

#avon-elipse-game {
  background-color: #f06798;
  border-radius: 50% / 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: white;
  position: absolute;
  height: 220px;
  width: 100%;
  transform: scale(1);
  padding-top: 1.5em;
  text-align: center; }

#avon-elipse-game h1 {
  padding-top: 20px; }

#avon-bet-logo{
}
#avon-car-teaser{
    img{
        width: 400px;
        position: absolute;
        top:-50px;
        right: 0;
    }
}
#avon-dice{
    background-image: url('/img/dice.png');
    background-position: center center;
    background-size: contain;
    position: absolute;
    right: 0px;
    top: -25px;
    width: 100px;
    height: 105px;

}
#avon-logo{
    background-image: url('/img/avon.png');
    background-position: center center;
    background-repeat: no-repeat;
    width: 195px;
    height: 49px;
}
.avon-instruction-item{
    span{
        color: white;
        border-radius: 25px;
        line-height: 50px;
        padding: 13px 20px;
        font-size: 1.3em;
        font-weight: 900;
    }
}
.avon-cta-login{
    h2{
        margin: 20px 0;
        color: #f06798;
    }
}

.titles-2{
        color: #f06798;    
}

.btn-cta{
    border-radius: 25px;
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
    span{
        font-size: 1.7em;
    }
}

.btn-cta-terms{
    margin: 0 auto;
    border-radius: 25px;
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
    span{
        font-size: 1.3em;
    }
}

.btn-game{
    border-radius: 25px;
    font-weight: bolder;
    width: 100%;
    height: 100%;
    span{
        font-size: 1.7em;
    }
}

.btn-pink{
    background-color: $avon-pink;
    border: 0px solid;
    padding: 20px 40px;
    //width: 500px;
    color: white;
    text-decoration: none;
    &:hover{
        text-decoration: none;
        background-color: $avon-pink-op;
    }
}

.avon-car{
    border-radius: 25px;
    margin: 30px auto;
    max-width: 400px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;

}

.avon-video{
    border-radius: 25px;
    margin: 30px auto;
    max-width: 600px;
    width: 100%;
    overflow: hidden;
    video{
        border-radius: 25px 25px 0 0;
        width:101%;
    }
    .video-caption{
        padding: 20px 30px;
    }
}

footer{
    background-color: $avon-pink;
    position: relative;
    top: 125px;
    #avon-footer{
        p{
            color: white;
            margin: 10px 0;
        }
    }
}

.link{
    color: white;
    &:hover{
        color: #ddd;
        text-decoration: none;
    }
}

.itemSlider1 {
    padding: 15px;
}

.itemSliderVideo {
    padding: 15px;
}

.box-black-shadow{
    -webkit-box-shadow: 0 0 20px 1px rgba(0,0,0,.2);
    box-shadow: 0 0 20px 1px rgba(0,0,0,.2);
}

.box-shadow-black{
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    &:hover{
        -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
}

.box-shadow-pink{
    -webkit-box-shadow: 0 0 20px 1px rgba(240,103,152,.5);
    box-shadow: 0 0 20px 1px rgba(240,103,152,.5);
}

.headerComponent {
    position: relative;
    padding: 80px 0;
}

.instructionsComponent {
    position: relative;
    &:before{
        content: "";
        position: absolute;
        top: 50%;
        right: -12.5vw;
        height: 25vw;
        width: 25vw;
        overflow: inherit;
        background-image: url('/img/dots.png');
        background-position: center;
        background-size:  cover;
        background-repeat: no-repeat;
    }
}

.cardSliderComponent {

    position: relative;
    &:before{
        content: "";
        position: absolute;
        top: -10vw;
        left: -5vw;
        height: 17vw;
        width: 17vw;
        overflow: inherit;
        background-image: url('/img/dots.png');
        background-position: center;
        background-size:  cover;
        background-repeat: no-repeat;
    }
}

.gamesButtonsComponent {
    position: relative;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: -12.5vw;
        height: 25vw;
        width: 25vw;
        overflow: inherit;
        background-image: url('/img/dots.png');
        background-position: center;
        background-size:  cover;
        background-repeat: no-repeat;
    }
}

#dice {
  background-image: url(../img/dice.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  height: 120px;
  max-width: 120px;
  position: absolute;
  right: 2%;
  top: 1%;
  width: 100%;
  z-index: 11; 
}

.dsktop-teaser-car {
  padding: 20px 40px; 
}

.dsktop-teaser-car img:last-child {
  max-width: 85%;
  width: 100%;
  float: right; 
}

.dsktop-teaser-logo img {
  position: absolute;
  top: 15%; 
}

.dsktop-teaser-logo h1 {
  color: white;
  font-weight: bold;
  font-size: 3em;
  line-height: 1em;
  position: absolute;
  bottom: 5%; 
}

#avonLogoReto {
  margin: 2em auto; 
}

#retoAvonTeaser {
  text-align: center; 
}

#retoAvonTeaser h1 {
  color: white; 
}

div#main-content {
  padding: 5em 0 1em; 
}

div#bases p {
  margin: 20px; 
}

div#bases ol {
  list-style: none;
  counter-reset: avon-counter; 
}

div#bases ol li {
  padding: 17px;
  border-bottom: 2px solid #e4eded;
  counter-increment: avon-counter;
  text-indent: -3em; 
}

div#bases ol li::before {
  background-color: #f06798;
  border-radius: 50%;
  content: counter(avon-counter);
  color: white;
  font-weight: bold;
  padding: 4px 10px;
  line-height: 10px;
  margin: 20px 10px; 
}

div#bases h2 {
  text-align: center; 
}
#videoContainer {
  border-radius: 20px; 
}

#videoContainer .teaser {
  background-color: blueviolet;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 300px; 
}

#videoContainer .title {
  margin: 10px 10px 40px;
  padding: 10px 10px 20px; 
}

#footerDesktop p {
  margin: 10px; 
}

#footerDesktop {
  background-color: #f06798;
  color: white;
  padding: 10px;
  text-align: center; 
}

#formFooterMobile {
  background-color: #f06798;
  color: white;
  border-radius: 20px 20px 0px 0px;
  padding: 10px;
  text-align: center; 
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } 
  }
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } 
  }
button {
  border: 0px; 
}

a:hover {
  text-decoration: none; 
}

a.link {
  color: white;
  text-decoration: none; 
}

a.btn-pink {
  background-color: #f06798;
  border-radius: 20px;
  color: white; 
}

a#loginHome {
  cursor: pointer;
  display: block;
  font-weight: bold;
  min-height: 60px;
  margin: 50px auto;
  max-width: 280px;
  padding: 1em;
  width: 100%; 
}

a.btn-choose {
  cursor: pointer;
    display: inline-block;
    font-weight: bold;
    min-height: 60px;
    margin: 10px auto;
    max-width: 120px;
    padding: 1em;
    width: 100%;
 }

a.btn-mainGameButton {
  display: inline-block;
  font-weight: bold;
  min-height: 200px;
  margin: 0 auto;
  max-width: 370px;
  padding: .9em;
  width: 100%;
  text-align: center; 
}

.mt-3 {
  margin-top: 30px; 
}

.pt-3 {
  margin-top: 30px; 
}

.upper {
  text-transform: uppercase; 
}

.center-text {
  text-align: center;
  position: relative;
  top: 250px;
}

.soft-shadow {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.19); 
}

  #main {
      max-width: 420px;
      display: flex;
      align-items: center;
      margin: 310px auto 0 auto;
  }

  .cell{
    font-size: 60px;
    padding: 20px;
    width: 112px;
    height: 155px;
  }
/****** FINALIZA VERSIÓN DESKTOP  *******/

/****** INICIA PANTALLAS TOP 1400PX ******/

@media (max-width: 1400px) {
  .dot-rigth-top {
    top: -120px !important;
    right: -470px !important; }

  .dot-left {
    left: -494px !important;
    bottom: 0 !important; }

  .dsktop-teaser-logo h1 {
    font-size: 2.5em;
    line-height: 1.3; }

  .swiper-slide {
    padding: 10%; }

  .instructionsComponent:before {
    display:none;
  }
}
/****** FINALIZA VERSIÓN 1400PX  *******/



/****** INICIA PANTALLAS TOP 991PX ******/

@media (max-width: 1399px) and (min-width: 992px) {
  #avon-elipse {
      background-color: #f06798;
      border-radius: 50%/100%;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      position: absolute;
      left: 0;
      top: 0;
      max-height: 380px;
      height: 100%;
      width: 100%;
      transform: scale(1);
  }

  .gana {
      position: relative;
      top: -150px;
      flex: 0 0 100%;
      max-width: 100%;
  }
  .auto {
      position: relative;
      flex: 0 0 100%;
      max-width: 100%;
  }

#avon-car-teaser img {
    width: 50%;
    position: absolute;
    top: 60px;
    margin: 0 23% 0 23%;
}

.titles1 {
    position: relative;
    top: 100px;
}
.titles2 {
    position: relative;
    top: 80px;
}
.terminoscon {
    position: relative;
    top: 40px;
}

.containerterm {
    position: relative;
    top: 200px;
}

.pt-3term{
    position: relative;
    top: 150px;
  width: 100%;
}

}

@media (max-width: 1135px) and (min-width: 992px) {
.condicionesmenu {
    position: relative;
    top: 60px;
    left: 195px;
    z-index: 10;
}
}
/****** INICIA PANTALLAS TOP 991PX ******/
@media (max-width: 991px) and (min-width: 768px) {
.condicionesmenu {
    position: relative;
    top: 60px;
    left: 195px;
}


  #avon-elipse {
      background-color: #f06798;
      border-radius: 50%/100%;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      position: absolute;
      left: 0;
      top: 0;
      max-height: 380px;
      height: 100%;
      width: 100%;
      transform: scale(1);
  }

.container-md, .container-sm, .container {
    max-width: 820px;
}
  .gana {
      position: relative;
      top: -150px;
      flex: 0 0 100%;
      max-width: 100%;
  }
  .auto {
      position: relative;
      flex: 0 0 100%;
      max-width: 100%;
  }

.col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-md-2 {
    flex: 0 0 100%;
    max-width: 100%;
}

  #avon-car-teaser img {
      width: 50%;
      position: absolute;
      top: 60px;
      margin: 0 23% 0 23%;
      /* right: 0; */
  }

.titles1 {
    position: relative;
    top: -50px;
}
.titles2 {
    position: relative;
    top: -100px;
}

  h1, .h1 {
    font-size: 28px;
}

h2, .h2 {
    font-size: 22px;
}

.instructionsComponent:before {
    display:none;
}

.avon-instruction-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
}

.avon-instruction-item .point1{
    position: relative;
    top:10px;
}

.avon-instruction-item .point2{
    position: relative;
    top:0;
}

.avon-instruction-item .point3{
    position: relative;
    top:0;
}

.avon-instruction-item .point4{
    position: relative;
    top:20px;
}

.avon-instruction-item .point5{
    position: relative;
    top:10px;
}

.avon-instruction-item p{
    font-size: 20px;
    position:relative;
    left: 20px;
    display: -webkit-inline-box;
    width: 85%;
}

  .avon-instruction-item .p1{
      font-size: 20px;
      position:relative;
      left: 100px;
      display: -webkit-inline-box;
      width: 85%;
  }

  #main {
      max-width: 420px !important;
      display: flex;
      align-items: center;
      margin: 310px auto 0 auto;
  }

  .cell{
    font-size: 60px;
    padding: 20px;
    width: 130px;
    height: 155px;
  }
.popup .content-1{
    font-size: 16px;
    font-weight: bold;
    color: #f06798;
}
.popup .close {
  position: absolute;
  top: 5px !important;
  right: 15px !important;
  transition: all 200ms;
  font-size: 20px !important;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.popup2 .content-1{
    font-size: 16px !important;
    font-weight: bold;
    color: #f06798;
}
.popup2 .close2{
  position: absolute;
  top: 5px !important;
  right: 15px !important;
  transition: all 200ms;
  font-size: 20px !important;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.popup3 .content-1 {
    font-size: 16px !important;
    font-weight: bold;
    color: #f06798;
}
.popup3 .close3 {
  position: absolute;
  top: 5px !important;
  right: 15px !important;
  transition: all 200ms;
  font-size: 20px !important;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
}

/****** INICIA PANTALLAS TOP 767PX ******/
@media only screen and (max-width: 767px) and (min-width: 576px) {
.txtterms{
    position: relative;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
}
.container {
    margin-top: 0;
}

#avon-elipse {
    background-color: #f06798;
    border-radius: 50%/100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: absolute;
    max-height: 300px;
    height: 100vw;
    width: 100vw;
    transform: translate(0, 0);
}

.menu .menuContainer .menuList .menuItem .router-link, .menu .menuContainer .menuList .menuItem a {
    max-height: 40px;
    display: inline-block;
    border-radius: 25px;
    max-width: 120px;
    width: 100%;
    margin: 0 10px;
    background-color: #fff;
    border: 2px solid #fff;
    text-align: center;
    font-size: 12px;
    line-height: 1.35;
    padding: 110px 0;
    color: #f06798;
    top: -35px;
    left: 0;
    position: relative;
}

.menu .menuContainer .menuList .login {
    width: 185px;
    height: 200px;
    position: relative;
    padding: 15px;
    top: -60px;
    left: 15px;
    z-index:10;
    a{
     height: 50px;
      padding: 10px;
    }
}
.menu .menuContainer .menuList .condicionesmenu {
    position: relative;
    top: 50px;
    left: 0;
    z-index:100;
    width: 100%;
    a{
     height: 50px;
      padding: 3px;
    }
}
  .auto {
      position: relative;
      flex: 0 0 100%;
      max-width: 100%;
  }

#avon-car-teaser img {
    width: 50%;
    position: absolute;
    top: 50px;
    margin: 0 25% 0 25%;
}


.menu .menuContainer {
    position: relative;
    height: 100%;
    text-align: left;
    margin: 0 auto;
    max-width: 100%;
}

.menu .menuContainer .logoMenu {
    position: relative;
    top: 40%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 1;
    height: 30px;
    width: auto;
}

.btn-pink{
    background-color: $avon-pink;
    border: 0px solid;
    padding: 20px 40px;
    width: 250px;
    color: white;
    text-decoration: none;
    &:hover{
        text-decoration: none;
        background-color: $avon-pink-op;
    }
}

.img-fluid2 {
    max-width: 200px;
    width: 100%;
    position: relative;
    top: -160px;
}

.title-white {
    color: #FFF;
    position: relative;
    top: -140px;
    font-size: 24px;
}

.titles1 {
    position: relative;
    top: -50px;
}
.titles2 {
    position: relative;
    top: -100px;
}

  h1, .h1 {
    font-size: 28px;
}

h2, .h2 {
    font-size: 16px;
}

.instructionsComponent:before {
    display:none;
}

.avon-instruction-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
}

.avon-instruction-item .point1{
    position: relative;
    top:30px;
}

.avon-instruction-item .point2{
    position: relative;
    top:0;
}

.avon-instruction-item .point3{
    position: relative;
    top:20px;
}

.avon-instruction-item .point4{
    position: relative;
    top:50px;
}

.avon-instruction-item .point5{
    position: relative;
    top:30px;
}

.avon-instruction-item p{
    font-size: 14px;
    position:relative;
    display: -webkit-inline-box;
    width: 85%;
}

  .avon-instruction-item .p1{
      font-size: 14px;
      position:relative;
      left: 100px;
      display: -webkit-inline-box;
      width: 85%;
  }

.btn-cta-terms span {
    font-size: 12px;
}

.terminoscon {
    margin-top: -50px !important;
    position: relative;
}

.btn-game {
    border-radius: 25px;
    font-weight: bolder;
    width: 60%;
    height: 100%;
    position: relative;
    margin: 0 auto 0 auto;
}

  #dice {
    width: 60%; }

  #avonLogoReto {
    margin: 2em 2em 2em; }



.mb-5, .my-5 {
     margin-bottom: 0 !important; 
}
.popup {
  top: 80px !important;
}

.popup .content-1{
    font-size: 14px !important;
    font-weight: bold;
    color: #f06798;
}
.popup .close {
  position: absolute;
  top: 5px !important;
  right: 15px !important;
  transition: all 200ms;
  font-size: 18px !important;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
.popup2 .content-1 {
    font-size: 14px !important;
    font-weight: bold;
    color: #f06798;
}
.popup2 .close2 {
  position: absolute;
  top: 5px !important;
  right: 15px !important;
  transition: all 200ms;
  font-size: 18px !important;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
.popup3 .content-1 {
    font-size: 14px !important;
    font-weight: bold;
    color: #f06798;
}
.popup3 .close3 {
  position: absolute;
  top: 5px !important;
  right: 15px !important;
  transition: all 200ms;
  font-size: 18px !important;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

}



/****** INICIA PANTALLAS TOP 767PX ******/
@media only screen and (max-width: 575px) and (min-width: 320px) {

.containerterm {
    max-width: 100%;
    width: 310px;
}

.pt-3term{
  width: 100%;
}

#avon-elipse {
    background-color: #f06798;
    border-radius: 50%/100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: absolute;
    max-height: 180px;
    height: 60vw;
    width: 100vw;
    transform: translate(0, 0);
}

.menu .menuContainer .logoMenu {
    position: absolute;
    top: 20%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 1;
    height: 20px;
}
.menu .menuContainer .menuList {
    position: relative;
    height: 100%;
    display: inline-block;
    width: 100%;
    text-align: right;
    padding: 5px 0;
    top: 0;
}

.menu .menuContainer .menuList .login {
    width: 185px;
    height: 200px;
    position: relative;
    padding: 15px;
    top: -50px;
    left: 15px;
    z-index:10;
    a{
     height: 50px;
      padding: 5px !important;
    }
}
.menu .menuContainer .menuList .condicionesmenu {
    position: relative;
    top: 35px;
    left: 0;
    z-index:100;
    width: 100%;
}
.menu .menuContainer .menuList .menuItem .router-link, .menu .menuContainer .menuList .menuItem a {
    max-height: 30px;
    display: inline-block;
    border-radius: 25px;
    max-width: 80px;
    width: 100%;
    margin: 0 10px;
    background-color: #fff;
    border: 2px solid #fff;
    text-align: center;
    font-size: 11px;
    line-height: 1.35;
    padding: 0 0;
    color: #f06798;
}

.img-fluid2 {
    max-width: 100px;
    width: 100%;
}

  .gana {
      position: relative;
      top: -150px;
      flex: 0 0 100%;
      max-width: 100%;
  }
  .auto {
      position: relative;
      flex: 0 0 100%;
      max-width: 100%;
  }

  #avon-car-teaser img {
    width: 100%;
    position: absolute;
    top: -50px;
    margin: 0 auto;
    max-width: 260px;
    right: 0;
    left: 0;
}
.instructionsComponent {
    position: relative;
    top: -100px;
}
  button.btn-mainGameButton {
    max-width: 270px; }
  .mb-5, .my-5 {
     margin-bottom: 0 !important; 
  }

  .titles2 {
      position: relative;
      top: -60px;
  }

    h1, .h1 {
      font-size: 22px;
  }

  h2, .h2 {
      font-size: 12px;
  }

  .instructionsComponent:before {
      display:none;
  }

  .avon-instruction-item {
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
      padding-top: 10px;
  }

  .avon-instruction-item .point1{
      position: relative;
      top:12px;
  }

  .avon-instruction-item .point2{
      position: relative;
      top:0;
  }

  .avon-instruction-item .point3{
      position: relative;
      top:10px;
  }

  .avon-instruction-item .point4{
      position: relative;
      top:25px;
  }

  .avon-instruction-item .point5{
      position: relative;
      top:20px;
  }

  .avon-instruction-item span {
      color: white;
      border-radius: 25px;
      line-height: 50px;
      padding: 13px 20px;
      font-size: 1.1em;
      font-weight: 900;
  }

  .avon-instruction-item p{
      font-size: 12px;
      position:relative;
      display: -webkit-inline-box;
      width: 78%;
  }
  .avon-instruction-item .p1{
      font-size: 12px;
      position:relative;
      left: 75px;
      display: -webkit-inline-box;
      width: 78%;
  }

.avon-instruction-item p span{
            color: #000000;
            border-radius: 25px;
            line-height: 50px;
            padding: 13px 20px;
            font-size: 1.1em;
            font-weight: 900;  
}

.title-white {
    color: #FFF;
    position: relative;
    top: 0;
    font-size: 18px;
}

.txtterms{
  position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 40px;
}

.terminoscon{
  font-size:12px;
}
  #main {
      max-width: 320px !important;
      display: flex;
      align-items: center;
      //margin: 310px auto 0 auto;
  }

.cell {
    font-size: 50px;
    padding: 20px;
    width: 95px;
    height: 155px;
}

.popup {
  top: 80px !important;
}
.popup .content-1 {
    font-size: 14px !important;
    font-weight: bold;
    color: #f06798;
}
.popup .close {
  position: absolute;
  top: 5px !important;
  right: 15px !important;
  transition: all 120ms;
  font-size: 18px !important;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
.popup2 .content-1 {
    font-size: 14px !important;
    font-weight: bold;
    color: #f06798;
}
.popup2 .close2 {
  position: absolute;
  top: 5px !important;
  right: 15px !important;
  transition: all 120ms;
  font-size: 18px !important;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
.popup3 .content-1 {
    font-size: 14px !important;
    font-weight: bold;
    color: #f06798;
}
.popup3 .close3 {
  position: absolute;
  top: 5px !important;
  right: 15px !important;
  transition: all 120ms;
  font-size: 18px !important;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

}