.containerCommingSoon {
	.bodyContainerMessage {
		position: relative;
	    display: block;
	    margin: -200px auto 0 auto;
	    background-color: #fff;
	    background-clip: border-box;
	    border: 1px solid rgba(0, 0, 0, 0.125);
	    border-radius: 1.25rem;
	    -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
	    -moz-box-shadow:    0px 0px 11px 0px rgba(50, 50, 50, 0.75);
	    box-shadow:         0px 0px 11px 0px rgba(50, 50, 50, 0.75);
	    max-width: 800px;
	    padding: 40px;
	    text-align: center;
		.titleCommingSoon {
			display: inline-block;
			width: 100%;
			max-width: 450px;
			text-align: center;
			font-size: 40px;
			color: #797979;
			font-weight: 600;
			line-height: 1.35;
			margin: 5px 0;
			text-transform: uppercase;
		}
		.textCommingSoon {
			display: inline-block;
			width: 100%;
			max-width: 600px;
			text-align: center;
			font-size: 28px;
			color: #797979;
			font-weight: 600;
			line-height: 1.35;
			margin: 5px 0;
		}
	}
	.titleGame {
		display: inline-block;
		width: 100%;
		text-align: center;
		font-size: 40px;
		color: #797979;
		font-weight: 600;
		line-height: 1.35;
		margin: 5px 0;
		text-transform: uppercase;
		color: #f06798;
	}
}