.menulogin {
    position: absolute;
    z-index: 10;
    height: 90px;
    width: 100vw;
    .menuContainerlogin {
        position: relative;
        height: 100%;
        .logoMenulogin {
            position: absolute;
            top: 50%;
            left: 50px;
            transform: translateY(-50%);
            z-index: 1;
            height: 40px;
        }
        .menuList {
            position: relative;
            height: 100%;
            display: inline-block;
            width: 100%;
            text-align: right;
            padding: 19px 0;
            .menuItem {
                text-decoration: none;
                list-style:none;
                display:inline-block;
                .router-link,
                a {
                    max-height: 52px;
                    display: inline-block;
                    border-radius: 25px;
                    max-width: 160px;
                    width: 100%;
                    margin: 0 10px;
                    background-color: #fff;
                    border: 2px solid #fff;
                    text-align: center;
                    font-size: 16px;
                    line-height: 1.35;
                    padding: 5px 0;
                    color :#f06798;
                    &:hover {
                        border: 2px solid #fff;
                        background-color: #f06798;
                        color: #fff;
                    }
                }
            }
        }
    }
}
 
  .ganalogin {
      position: relative;
      top: 0;
      flex: 0 0 100%;
      max-width: 100%;
  }

.img-login {
    max-width: 300px;
    width: 100%;
    position: relative;
    top: -150px;
}

.colmd8-login {
    max-width: 30.666667%;
}

.card-headerlogin {
    text-align: center;
     background-color: #fff; 
     border-bottom: none; 
}

.card-headerlogin:first-child {
    border-radius: calc(1.25rem - 1px) calc(1.25rem - 1px) 0 0;
}

.cardlogin {
    position: relative;
    display: flex;
    margin-top: -200px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 11px 0px rgba(50, 50, 50, 0.75);
}

input:-internal-autofill-selected {
    background-color: #ffffff !important;
    color: -internal-light-dark(black, gray) !important;
}

.btn-primarylogin {
    color: #fff;
    background-color: #f06798;
    border-color: #ccc;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px #ccc solid;
}

  .ganalogin {
      position: relative;
      top: 0;
      flex: 0 0 100%;
      max-width: 100%;
  }
  .autologin {
      position: relative;
      flex: 0 0 100%;
      max-width: 100%;
  }
.txtlabel {
    text-align: left !important;
    flex: 0 0 100%;
    max-width: 100%;
}

.labelinput {
    flex: 0 0 100%;
    max-width: 100%;
}

.footlogin {
    text-align:center;
    width:500px;
}

@media (max-width: 1024px) and (min-width: 768px){
.colmd8-login {
    max-width: 37.666667%;
}

.txtlabel {
    text-align: left !important;
    flex: 0 0 100%;
    max-width: 100%;
}

.labelinput {
    flex: 0 0 100%;
    max-width: 100%;
}

.footlogin {
    text-align:center;
    width:300px;
}

}

@media only screen and (max-width: 767px) and (min-width: 576px) {
.container {
    margin-top: 0;
}
.menu .menuContainer .logoMenulogin {
    position: relative;
    top: 30%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 1;
    height: 30px;
    margin: 0 35%;
}

.img-login {
    /*max-width: 100px;
    width: 100%;
    position:relative;
    top: -130px;*/

        max-width: 200px;
    width: 100%;
    position: relative;
    top: -110px;

}
 
  .ganalogin {
      position: relative;
      top: 0;
      flex: 0 0 100%;
      max-width: 100%;
  }
.cardlogin {
    position: relative;
    display: flex;
    margin-top: -160px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
}
.colmd8-login {
    max-width: 75.666667%;
}

.txtlabel {
    text-align: left !important;
    flex: 0 0 100%;
    max-width: 100%;
}

.labelinput {
    flex: 0 0 100%;
    max-width: 100%;
}

.footlogin {
    text-align:center;
    width:300px;
}

}

@media only screen and (max-width: 575px) and (min-width: 320px) {
.menu .menuContainer .logoMenulogin {
    position: relative;
    top: 20%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 1;
    height: 15px;
    margin: 0 35%;
}

.img-login {
    max-width: 100px;
    width: 100%;
    position:relative;
    top: -130px;
}
 
  .ganalogin {
      position: relative;
      top: 0;
      flex: 0 0 100%;
      max-width: 100%;
  }

.colmd8-login {
    max-width: 75.666667%;
}

.txtlabel {
    text-align: left !important;
    flex: 0 0 100%;
    max-width: 100%;
}

.labelinput {
    flex: 0 0 100%;
    max-width: 100%;
}

.footlogin {
    text-align:center;
    width:300px;
}

}
