#main {
  max-width: 380px;
  display: flex;
  align-items: center;
}

.cell {
  background-color: #DEB9D8;
  margin: 5px;
  color: white;
  text-align: center;
}

.card {
  background: #8363AA url(/images/avon.png?a9732840ccb45d4194a3f48b65d2ef6a) no-repeat center center;
  background-size: 50%;
  height: 200px;
  padding: 20px;
  width: 100%;
}

#main-memo {
  margin-top: 300px;
  margin-bottom: 100px;
}

#startQuizOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
}

#startQuizOverlay button.start {
  background-color: green;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1em;
  margin: 0 auto;
  padding: 10px 15px;
  width: 300px;
}

#startQuizOverlay div.content {
  color: white;
  width: 50%;
  height: 600px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

#startQuizOverlay div.content h1 {
  text-align: center;
  font-weight: 200;
}

#gameConatiner {
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  top: 200px;
  padding-bottom: 30px;
  background: #f06798;
  border-radius: 25px;
  width: 60%;
  position: relative;
  transition: all 5s ease-in-out;
  font-family: "Helvetica", cursive;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.popup .close:hover {
  color: #E5F720;
}

.popup .content-1 {
  font-size: 28px;
  font-weight: bold;
  color: #f06798;
}

.popup .content-1,
.content-2 {
  max-height: 30%;
  overflow: auto;
  text-align: center;
  color: #fff;
}

.show {
  visibility: visible !important;
  opacity: 100 !important;
}

.overlay2 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay2:target {
  visibility: visible;
  opacity: 1;
}

.popup2 {
  margin: 70px auto;
  padding: 20px;
  top: 250px;
  padding-bottom: 30px;
  background: #f06798;
  border-radius: 25px;
  width: 60%;
  position: relative;
  transition: all 5s ease-in-out;
  font-family: "Helvetica", cursive;
}

.popup2 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup2 .close2 {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.popup2 .close2:hover {
  color: #E5F720;
}

.popup2 .content-1 {
  font-size: 28px;
  font-weight: bold;
  color: #f06798;
}

.popup2 .content-1,
.content-2 {
  max-height: 30%;
  overflow: auto;
  text-align: center;
  color: #fff;
}

.show2 {
  visibility: visible !important;
  opacity: 100 !important;
}

.overlay3 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay3:target {
  visibility: visible;
  opacity: 1;
}

.popup3 {
  margin: 70px auto;
  padding: 20px;
  padding-bottom: 30px;
  background: #f06798;
  border-radius: 25px;
  top: 250px;
  width: 60%;
  position: relative;
  transition: all 5s ease-in-out;
  font-family: "Helvetica", cursive;
}

.popup3 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup3 .close3 {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.popup3 .close3:hover {
  color: #E5F720;
}

.popup3 .content-1 {
  font-size: 28px;
  font-weight: bold;
  color: #f06798;
}

.popup3 .content-1,
.content-2 {
  max-height: 30%;
  overflow: auto;
  text-align: center;
  color: #fff;
}

.show3 {
  visibility: visible !important;
  opacity: 100 !important;
}

